*{
  box-sizing: border-box;
}
body{
  font-size: 2rem;
}
ul{
 list-style: none;
}
li{
  display: inline-block;
  border: 2px solid red;
  line-height: 3.4rem;
  border-radius: 1rem;
}
a{
 text-decoration: none;
 border: 2px solid black;
 display: inline-block;
  border-radius: 1rem;
 padding: 3px;
}
a:hover{
  background-color: rgb(6, 254, 9);
}
