body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

div {
    width: 20vh;
    height: 20vh;
    background-color: deepskyblue;
}

div {
    position: relative;
    animation-name: wackabacka;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes wackabacka {
    0% {
        background-color: deepskyblue;
        top: 0;
    }
    50%{
      background-color: black;
    }
    60%{
      background-color: gold;
      border-radius: 100%;
      transform: rotate(282deg);
      top: 70%;
    }
    100% {
        background-color: gold;
        border-radius: 100%;
        transform: rotate(282deg);
        top: 70%;
    }
}
