/*
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running
*/
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1rem;
  animation-name: yourname;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes yourname {
  0%{font-size: 1rem;}
  100%{font-size: 20rem;}
}
