* {
    border: 2px solid red;
}

div {
    height: 100px;
    width: 100px;
    background-color: blue;
    color: #fff;
}

#one {
    position: sticky;
    top: 20px;
    right: 20px;
    /* z-index: -1; */

    /* formatting */
    background-color: green;
}
